/* COLOR VARIABLES */
:root {
  --main-green: #1f6a49;
  --light-green: #3a9c54;
  --grey: #a0a0a0;
  --dark: #404141;
  --bg-grey: #f0f0f0;
  --bs-body-bg: #f0f0f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
}
p {
  font-family: sans-serif;
}

/* HEADER SECTION */
header {
  background: var(--bg-grey);
  min-height: 60px;
  border-bottom: 2px solid var(--main-green);
  transition: all 1s ease-in;
}

.navbar-brand img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.header__sub {
  background-color: var(--main-green);
  color: var(--bg-grey);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.header__sub:hover {
  background-color: var(--dark);
}

/* HEADER SECTION ENDS HERE */

.blog__hero .row-2 {
  border-bottom: 2px solid var(--main-green);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

@media screen and (width >= 768px) {
  .single__post .row-2 > div:nth-child(2) {
    border: 2px solid var(--main-green);
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.blog__hero--items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__hero--breadcrum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.blog__hero--breadcrum a {
  color: var(--main-green);
  text-decoration: none;
}

.blog__hero--breadcrum a:hover {
  color: var(--light-green);
}

.blog__hero--breadcrum .fa-solid {
  font-size: 12px;
}

.blog__hero--breadcrum p {
  font-size: 14px;
  font-weight: 700;
  justify-self: baseline;
  align-self: center;
}

/* HOME SECTION HERO ENDS HERE */

/* SINGLE POST STYLES */

.single__post {
  min-height: 600px;
}

.single__post h1 {
  font-weight: 900;
}

@media (width <= 768px) {
  .single__post .row-1 {
    display: none;
  }
}

.single__post .row-2 {
  padding: 1rem 0;
}
.single__post--featuredImg img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.single__post .row-2 .post--category {
  color: var(--bg-grey);
  background-color: var(--main-green);
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in;
}

.single__post .row-2 .post--category:hover {
  color: var(--main-green);
  background-color: var(--bg-grey);
  border: 1px solid var(--main-green);
}

.post__author {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.post__author img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}
.author__name p {
  padding: 0;
  margin: 0;
}

.author__name p:first-child {
  text-transform: uppercase;
  font-weight: 700;
}

.single__post .row-2 .post--breadcrum a {
  color: var(--main-green);
  text-decoration: none;
}

.single__post .row-2 .post--breadcrum a:hover {
  color: var(--dark);
  font-weight: 700;
}

/* ARTICLE SECTION */

article {
  padding: 0.5rem 1rem;
}
.post--content p {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  font-family: sans-serif;
  line-height: 1.6;
}

.post--content h2 {
  font-weight: 700;
}

.post--content h3,
h4 {
  font-weight: 600;
}

.post--content a {
  color: var(--main-green);
  text-decoration: none;
  font-weight: 600;
}

.post--content a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.post--content blockquote {
  border-radius: 6px;
  padding: 1rem;
  background-color: var(--grey);
  max-width: 80%;
  font-weight: 600;
  margin: 1rem auto;
  overflow: hidden;
}

.post--content blockquote::before {
  content: "\f10d";
  font-size: 110px;
  font-family: "FontAwesome";
  content: "\f10d";
  font-size: 35px;
  font-weight: 900;
  color: var(--main-green);
  z-index: 1;
  position: relative;
  top: -22px;
  right: 0;
  left: -15px;
  line-height: 1;
}

/* SOURCES STYLE */

.accordion-button {
  background-color: var(--main-green) !important;
  color: var(--bg-grey) !important;
  text-transform: uppercase;
  font-weight: 800;
  transition: all 0.5s ease-in;
}

.accordion-button::after {
  content: "+";
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 800;
  padding-right: 50px;
  margin-top: -25px;
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  color: var(--bg-grey) !important;
  content: "-";
  font-size: clamp(1rem, 3vw, 2rem);
  margin-top: 25px;
  font-weight: 800;
  padding-right: 50px;
  background-image: none;
}

/* CONTENT AUTHOR */

@media (width >= 768px) {
  .content--Author {
    width: 70%;
    margin: 0 auto;
  }
  .content--Author img {
    width: 80px;

    object-fit: cover;
  }
}
.content--Author {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.content--Author img {
  border-radius: 50%;
}

/* RELATED POSTS SECTION */

.related--posts h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  border-left: 4px solid var(--main-green);
  padding: 0.3rem 1rem;
  background-color: var(--dark);
  color: var(--bg-grey);
  width: fit-content;
  margin-top: 1rem;
  text-transform: uppercase;
}

/* COMMENT BOX */

.comment--box {
  border: 1px solid var(--grey);
  border-radius: 0.3rem;
  width: 80%;
}

.comment--box h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 800;
  margin-top: 0;
}

.back-to-home,
.go-to-comment {
  background-color: #000;
  color: #fff;
  border: 1px solid var(--light-green);
  border-radius: 0.4rem;
  margin: 1rem 0;
  padding: 0.2rem 0.5rem;
  width: fit-content;
}

.back-to-home:hover,
.go-to-comment:hover {
  background-color: var(--main-green);
}

.back-to-home a,
.go-to-comment a {
  color: #fff;
  text-decoration: none;
}

/* SINGLE POST SIDEBAR */

sidebar h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  border-left: 4px solid var(--main-green);
  padding: 0.3rem 1rem;
  background-color: var(--dark);
  color: var(--bg-grey);
  width: fit-content;
  margin-top: 1rem;
  text-transform: uppercase;
}

.sidebar__popular--Item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid var(--main-green);
  padding: 0.5rem 0;
}

.popular__thumbnail {
  border-radius: 8px;
}

.popular__post-title a {
  font-size: clamp(16px, 5vw, 20px);
  font-weight: 600;
  color: var(--dark);
  text-decoration: none;
}

.popular__post-title a:hover {
  color: var(--main-green);
}

.sidebar__popular.sticky-top {
  z-index: 0;
  top: 150px;
}
